*.pyc
*.swp
*.egg
*.lock
*.tar.gz
*.log
*~
*.out
*.tar
*.zip
*.tar.bz2
.workon
.coverage
.DS_Store
tags
docs/_build
MANIFEST
coverage.xml
nosetests.xml
junit-report.xml
pylint.txt
toy.py
tox.ini
violations.pyflakes.txt
cover/
build/
env/
tmp
